<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<h3>User page</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>

    <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.getUsername()}">Name</td>
            <td th:text="${#strings.setJoin(user.roles, ', ')}">Roles</td>
            <td><a th:href="@{/user/${user.getId()}}">edit</a></td>
        </tr>

    </tbody>

</table>

</body>
</html>