<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>User editor</h3>
<br><br>
<!--<form th:method="PATCH" th:action="@{/user}" th:object="${user}">-->
<!--    <label for="name">Enter id:</label>-->
<!--    <input type="text" th:field="*{id}" id="name" >-->
<!--    <div th:each="role: *{roles}">-->
<!--        <label for="role" th:text="${role}">Role</label>-->
<!--        <input type="checkbox" id="role" th:value="${role}" >-->
<!--    </div>-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->




</body>
</html>