<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #141310;">
    <div class="container">
      <a href="" class="navbar-brand">
        <img th:src="@{/img/H.jpg}" width="40" height="40" alt="" loading="eager">
        HistoryTest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a href="/" class="nav-link">Главная</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Профиль</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Пройти тест</a>
          </li>


          <div >
            <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ADMIN', 'MAINADMIN')">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Настройки администратора
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/admin/users/">Данные пользователей</a></li>
                <li><a class="dropdown-item" href="#">Результаты тестирования</a></li>
              </ul>
            </li>
          </div>
        </ul>

        <div  class="d-flex">
          <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-outline-danger ms-3" value="Sign Out" />
          </form>
          <!--<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign in</button>-->
          <!--                    <button class="btn btn-outline-danger ms-3" ">Sign out</button>-->
        </div>


      </div>

    </div>
  </nav>

</div>